{% extends 'base.html' %}

{% block body %}
    
<div class="wraper">
    <img class="id-bg" src="../static/20130719-OUTDOORS-slide-NTT4-superJumbo.jpg">
    <div class="logo">
        <img src="../static/Simple_Film_Company_Logo-removebg-preview.png">
    </div>
    <div class="container">
        <div class="hd-index-loss">
            <br><br>
            Niestety przegrałeś <br>:(((<br><br>
            Ten film nazywał się: <br><b>{{imgTitle}}</b><br>
        </div>
        <div class="description">
            Twój ostateczny wynik to {{wynik}}<br><br>
            Pochwal się zajomymy:
        </div>
        <div class="button">    
            <form method="post" name="index">
                <button class="bt" value="Zaczynamy" name="action1"><span>GRAM JESZCZE RAZ</span></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}