{% extends 'base.html' %}

{% block body %}

<div class="wraper">
    <img class="id-bg" src="../static/20130719-OUTDOORS-slide-NTT4-superJumbo.jpg">
    <div class="id-logo">
        <img src="../static/Simple_Film_Company_Logo-removebg-preview.png">
    </div>
    <div class="container">
        <div class="id-header">
            Witam filmowego szefa
        </div>
        <div class="description">
            Zasady są prosciutkie. Wpisujesz nazwe filmu, z którego widzisz klatke. <br><br>Polskie i angielskie tytuły akceptowalne
        </div>
        <div class="button">    
            <form method="post" name="index">
                <button class="bt" value="Zaczynamy" name="action1"><span>Zaczynamy</span></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
